<!DOCTYPE html>
<html>
<head>
    <title>School Data</title>

    
    <link rel="stylesheet"
    href="{{ url_for('static',filename='css/style.css')}}">
</head>
    
    

<body class="data-page">
    <a href="/" class="home-button">🏠 Back to Home</a>
    <div class="summary-cards">

    <div class="card">
        <h3>🏫 Total Schools</h3>
        <p>{{total_School }}</p>
    </div>

    <div class="card">
        <h3>👨‍🎓 Total Students</h3>
        <p>{{total_Student }}</p>
    </div>

    <div class="card">
        <h3>👩‍🏫 Total Teachers</h3>
        <p>{{total_Teacher }}</p>
    </div>

</div>


<h2 class="chart-title">📊 School Data Overview</h2>

<div class="chart-container">
    <canvas id="schoolChart"></canvas>
</div>



    <h1>📊 School Data</h1>
    <form action="/data" method="GET" class="search-box">
    <input
        type="text"
        name="search"
        placeholder="🔍 Search school by name..."
    style="padding: 10px 15px ; border: 2px solid #4CAF50; border-radius: 8px ;
     background-color: #f0fff0; outline: none;"
        >
    <button type="submit" 
    class="search-button">🔍Search</button>

   <a href="/data" class="clear-button">Clear Search</a>
</form>


    



    <table border="1">
        <tr>
            <th>ID</th>
            <th>School Name</th>
            <th>Location</th>
            <th>Students</th>
            <th>Teachers</th>
            <th>Classrooms</th>
            <th>Laboratories</th>
            <th>Toilets</th>
            <th>Computers</th>
            <th>Action</th>
        </tr>

        {% for school in schools %}
        <tr>
            <td>{{ school[0] }}</td>
            <td>{{ school[1] }}</td>
            <td>{{ school[2] }}</td>
            <td>{{ school[3] }}</td>
            <td>{{ school[4] }}</td>
            <td>{{ school[5] }}</td>
            <td>{{ school[6] }}</td>
            <td>{{ school[7] }}</td>
            <td>{{ school[8] }}</td>
            
<td>
    <a href="/edit/{{ school[0] }}">Edit</a>
    |
    <a href="/delete/{{ school[0] }}">Delete</a>
</td>
        </tr>
        {% endfor %}

    </table>
<br><br>

<a href="/">
    <button type="button" style="background-color:#2196F3; 
    color:white; padding:10px 20px; border:none; 
    border-radius:8px; cursor:pointer;">
        🏠 Home
    </button>
</a>

<a href="/school">
    <button type="button" style="background-color:#9C27B0; color:white; padding:10px 20px; border:none; border-radius:8px; cursor:pointer;">
        ➕ Add School
    </button>
</a>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const schoolData = {
        schools: Number("{{ total_schools }}"),
        students: Number("{{ total_students }}"),
        teachers: Number("{{ total_teachers }}")
    };

    const ctx = document.getElementById("schoolChart");

    new Chart(ctx, {
        type: "bar",
        data: {
            labels: ["Schools", "Students", "Teachers"],
            datasets: [{
                label: "Total",
                data: [
                    schoolData.schools,
                    schoolData.students,
                    schoolData.teachers
                ]
            }]
        },
        options: {
            responsive: true
        }
    });
    

</script>
</body>
</html>
