<!DOCTYPE html>
<html>
<head>
    <title>Edit School</title>
</head>
<body>

    <h1>Edit School Data</h1>

    <form method="POST">

        <label>School Name:</label><br>
        <input type="text" name="school_name" value="{{ school[1] }}" required>
        <br><br>

        <label>Location:</label><br>
        <input type="text" name="location" value="{{ school[2] }}" required>
        <br><br>

        <label>Students:</label><br>
        <input type="number" name="students" value="{{ school[3] }}" required>
        <br><br>

        <label>Teachers:</label><br>
        <input type="number" name="teachers" value="{{ school[4] }}" required>
        <br><br>

        <button type="submit">Update School</button>

    </form>

    <br>

    <a href="/data">
        <button type="button">Back to School Data</button>
    </a>

</body>
</html>
