<!DOCTYPE html>
<html>

<head>
    <title>School Registration</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <nav>
        <div class="logo">
            School Standardization
        </div>

        <div class="menu">
            <a href="/">Home</a>
            <a href="/school">Add School</a>
        </div>
    </nav>


    <section class="form-section">
        <div class=header>
            <h1>School Registration</h1>
            <p>School Data management syetem </p>
        </div>

        

        <p>
            Enter the school information below.
        </p>


        <form action =" /submit" method="POST">
            class="Registration-card"
            <h2>School information </h2>
            <p class="form-subtitle">Enter the school details below</p>

            <label>School Name</label>
            <input
                type="text"
                name="school_name"
                placeholder="Enter school name"
                required
            >


            <label>Location</label>
            <input
                type="text"
                name="location"
                placeholder="Enter school location"
                required
            >


            <label>Number of Students</label>
            <input
                type="number"
                name="students"
                placeholder="Enter number of students"
                min="0"
                required
            >


            <label>Number of Teachers</label>
            <input
                type="number"
                name="teachers"
                placeholder="Enter number of teachers"
                min="0"
                required
            >
<label>Number of Classrooms:</label>
<input type="number" name="classrooms" required>

<br><br>

<label>Number of Laboratories:</label>
<input type="number" name="laboratories" required>

<br><br>

<label>Number of Toilets:</label>
<input type="number" name="toilets" required>

<br><br>

<label>Number of Computers:</label>
<input type="number" name="computers" required>

<br><br>

            <button type="submit">
                Submit School Data
            </button>
            <br><br>

<a href="/data">
    <button type="button">View School Data</button>
</a>

        </form>

    </section>
    <footer>
        2026 School Data Management System
    </footer>

</body>

</html>
